<div class="container">
  <div class="one">
    <div *ngFor ="let message of log" class="bg-msg one">
      <li>{{message}}</li>
      <span>from: {{this.name}}</span>
      <span>Total Chirps: {{this.chirps}}</span><br>
      <span>fav show: {{this.favoriteShow}}</span>  
    </div>
  </div> 
</div>  

<div class="test">
  <form (submit)="writeMessage(message.value)" action="" name="form">
      <label for="message"></label>
      <input type="text" #message name=""  placeholder="Say Something" required>
      <button type="submit" required>Send</button>
  </form>
</div>
