<div class="container">
  <div class="one">
    <div *ngFor ="let message of log" class="bg-msg one">
        <mat-card>
            <img mat-card-image src="https://s-media-cache-ak0.pinimg.com/originals/7c/c7/a6/7cc7a630624d20f7797cb4c8e93c09c1.png">
            <mat-card-title class="content">{{this.name}} says:</mat-card-title>
            <mat-card-subtitle class="content">Total Chirps: {{this.chirps}}</mat-card-subtitle>
            <mat-card-content class="content">{{message}}</mat-card-content>
        </mat-card>
        
      
    </div>
  </div> 
</div>  

<div>


  
 <form (submit)="writeMessage(message.value)" action="" name="form">
      <label for="message"></label>
      <input type="text" #message name=""  placeholder="Say Something" required>
      <button type="submit" required>Send</button>
  </form>
</div>
